@import '~bootstrap/scss/bootstrap.scss';

body{
    background:#E6C966;
}
.navbar{
    background:#2F5780;
}
.jumbotron{
    background:#F0ECD8;
};
.list-group.item{
    background:#E6C966;
}
.card-body{
	background:#F0ECD8;
}
.home-map{
   // background:#55534D;
}
.map-header{
  //  color:#F0F0F0;
}
/*.pill-color{
    background:grey;
}*/
.car-background{
    background-color:rgba(0, 0, 0, 0.7);
}
.home-map-content{
    background-color:rgba(255,255,255, 0.7);
}
.map{
    position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%; // 600px/600px
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #2F5780; /* old IE */
    background-color: #2F5780; /* Modern Browsers */
}
/*
.map iframe{
    position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}*/